<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700825803700-6iemnjm3070ujqn0fp6jmrqs2s9fr65v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700825803700-6iemnjm3070ujqn0fp6jmrqs2s9fr65v</string>
	<key>API_KEY</key>
	<string>AIzaSyAiiAw171IA5v_ZzAu0TTv99Ti977Bn5-A</string>
	<key>GCM_SENDER_ID</key>
	<string>700825803700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApplication</string>
	<key>PROJECT_ID</key>
	<string>quizapp-fce60</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-fce60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700825803700:ios:160a0e997188c95f2bb0e1</string>
</dict>
</plist>